@import "normalize";
@import "variables";

body {
  color: var(--text-dark);
  background-color: var(--bg);
  height: 100vh;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[data-theme="dark"] body {
  background-color: var(--bg-dark);
  color: var(--text-white);
}

//body {
//  color: #000;
//  background-color: #fff;
//}
//
//[data-theme="dark"] body {
//  background-color: #000;
//  color: red;
//}
