@import "normalize";
@import "variables";

body {
  color: var(--text-dark);
  background-color: var(--bg);
  height: 100vh;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[data-theme="dark"] body {
  background-color: var(--bg-dark);
  color: var(--text-white);
}

.main{
 max-width: 1440px;
  margin: 0 auto;
}
