.Header,.nav,.menu{
  display: flex;
  align-items: center;
}

.Header{
  max-width: 1280px;
  margin: 0 auto 20px;
  justify-content: space-between;
  padding: 30px 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;
    padding: 10px 10px 40px;
  }
}

.logo{
  font-size: var(--text-2xl);
}

.menu{
  position: relative;
  min-width: 120px;
  align-items: center;
  justify-content: space-between;

}

.modalBtn{
  background: transparent;
}


.menuIcon{
  cursor: pointer;
  width: 15px;
  height: 15px;
  [data-theme="dark"]{
    color:  var(--bg);
  }
  @media (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.nav {
  @media (max-width: 480px) {
    font-size: var(--text-small);
    column-gap: 0;
  }
}

.navItems{
  display: flex;
  column-gap: 18px;
  justify-content: center;
  color: var(--text-gray);
  font-weight: var(--w-bold);
  font-size: var(--text-main);
  line-height: 12px;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    column-gap: 20px;
  }
  @media (max-width: 480px) {
    font-size: var(--text-main-minus);
    column-gap: 2px;
  }
}

.navItem{
  cursor: pointer;
  &:nth-child(1) {
    width: 45px;
  }
  &:nth-child(2) {
    width: 81px;
  }
  &:nth-child(3) {
    width: 117px;
  }
  &:nth-child(4) {
    width: 37px;
  }
  &:hover {
    font-weight: var(--w-black);
    color: var(--text-dark);
  }
  [data-theme="dark"] &:hover {
      color: var(--bg);
    }
}





