.CartItem {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	align-items: center;
	color: var(--text-dark);
	font-size: 12px;
	margin-top: 25px;
	@media (max-width: 1080px) {
		display: flex;
		flex-direction: column;
	}
}

[data-theme='dark'] .CartItem {
	color: var(--text-white);
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	gap: 25px;
}

.remove {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--danger);
	svg {
		width: 20px;
		height: 20px;
	}
}

.image {
	width: 100px;
	height: 150px;
	object-fit: cover;
	box-shadow: 0 15px 14px -5px rgba(34, 60, 80, 0.21);
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 180px;
}

.author {
	color: var(--text-gray);
}

.quantityBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 176px;
	height: 45px;
	padding: 15px;
	font-size: 16px;
	color: var(--text-gray);
	border: 1px solid var(--star-empty);
}

.count {
	width: 20px;
}

.btn {
	&:disabled {
		cursor: default;
	}
}

.delivery {
	color: var(--text-gray);
}
